{% extends 'base.html' %}
{% load static %}
{% block title %} ABOUT {% endblock title %}
{% block body %}
    <div class="container-fluid px-20 mb-30">
        <img src="{% static 'images/life.jpg' %}" class="d-block w-100 mx-0" alt="no">
    </div>
    <blockquote class="blockquote text-center">
  <p class="mb-3">Greetings and welcome to my site,I encourage you to explore my latest collections,My art says infinitely more than these words can communicate!</p>
  <footer class="blockquote-footer mb-3">HARSHII:-)
</blockquote>
{%  endblock body %}